@media (max-width: 1110px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 480px;
        flex-direction: column;
        transition: all 0.5s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 60px;
    }
    .v-class-resp{
        opacity: 0;
    }
}  